*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --body_bgcolor: #1e1e1e;
    --nav_bgcolor: #293241;
    --link_foreground: white;
    --item_bgcolor: var(--link_foreground);
    --border_color: #98C1D9;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--body_bgcolor);
    color: white;
}

a {
    text-decoration: none;
}

/* common styling */

.contentblock {
    width: 100%;
    position: relative;
}

.grid-container {
    padding: 0px 20px;
}

@media (width > 1440px) {
    .contentblock {
        padding: 0px 130px;
    }
}

@media (width <=1440px) {
    .contentblock {
        padding: 0px 30px;
    }
}

@media (width <=480px) {
    .grid-container {
        padding: 0px 20px;
    }

    .contentblock {
        padding: 0px 0px;
    }
}

/* STYLING INDEX.HTML */

/* outer-section */
.sections {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    background-color: #293241;
}

/* inner-section */
.section {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40;
    overflow: hidden;
}

/* button */
.page-link {
    position: absolute;
    background-color: #f1faee;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border: none;
    outline: none;
    padding: 0px;
    border-radius: 8px;

}

.page-link a {
    height: 100%;
    width: 100%;
    padding: 16px 32px;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #1d3557;
    border-radius: 8px;
}

.page-link:hover a {
    background-color: #1d3557;
    color: #f1faee;
}