*,*::after,*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --body_bgcolor: #1e1e1e;
    --nav_bgcolor: #293241;
    --link_foreground: white;
    --item_bgcolor: var(--link_foreground);
    --border_color: #98C1D9;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--body_bgcolor);
    color: white;
}
